[Unit]
Description=Reticulum Mesh Identity Mapper
After=reticulum-mesh-network.service reticulum-mesh-ogm.service
Requires=reticulum-mesh-network.service reticulum-mesh-ogm.service

[Service]
Type=simple
User=root
Group=root
SupplementaryGroups=dialout
WorkingDirectory=/home/natak/reticulum_mesh/identity_handler
Environment=PYTHONPATH=/home/natak/reticulum_mesh
Environment=HOME=/home/natak
ExecStart=/usr/bin/python3 -u identity_mapper.py
Restart=always
RestartSec=7

[Install]
WantedBy=multi-user.target
