[Unit]
Description=Reticulum Stack Service
After=network.target

[Service]
Type=simple
User=natak
WorkingDirectory=/home/natak
ExecStart=/home/natak/reticulum_mesh/start_reticulum_stack.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target