[Unit]
Description=Reticulum Mesh RNS Handler
After=reticulum-mesh-network.service reticulum-mesh-ogm.service reticulum-mesh-identity.service
Requires=reticulum-mesh-network.service reticulum-mesh-ogm.service reticulum-mesh-identity.service

[Service]
Type=simple
User=root
Group=root
SupplementaryGroups=dialout
WorkingDirectory=/home/natak/reticulum_mesh/tak_transmission/reticulum_module
Environment=PYTHONPATH=/home/natak/reticulum_mesh
Environment=HOME=/home/natak
ExecStart=/bin/bash -c 'sleep 10 && /usr/bin/python3 -u reticulum_handler.py'
Restart=always
RestartSec=7

[Install]
WantedBy=multi-user.target
